body {
	background-image: url("../images/brushed.png");
	margin: 0;
	min-height: 100%;
}

h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 20px;
	width: 178px;
	height: 36px;
	float: left;
	margin: 0;
	font-size: 30px;
}

h2 {
	color: #4aaaa5;
	padding-bottom: 20px;
	border-bottom: 3px solid;
	border-color: #cccccc;
	font-size: 32px;

}

h3 {
	color: #4aaaa5;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid;
	border-color: #cccccc;
	font-size: 24px;

}



#bio-text {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 28px; 
	font-size: 18px;
}

#bio-image {
	float: left;
	padding: 10px;
}

.header {
	background-color: #ffffff;
	border-bottom: 2px solid;
	border-color: #cccccc;
	margin: 0;
	margin-bottom: 20px;

}

.topbar {
	background-color: #ffffff;
	width: 960px;
	height: 76px;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	float: right;
	width: 278px;
}

li a {
	display: block;
	color: #777777;
	padding: 29px 20px;
	text-decoration: none;
	float: right;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

li a:hover{
	background-color: #cccccc;
	color: white;
}

.main-block {
	clear: both;
	width: 650px;
	background-color: #ffffff;
	padding: 20px;
	border: 1px solid;
	border-color: #cccccc;
	float: left;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.connect {
	background-color: #ffffff;
	padding: 5px 10px 10px 10px;
	width: 270px;
	margin-left: 10px;
	border: 1px solid;
	border-color: #cccccc;
	float: left;
}

img {
	margin: 0 auto;

}

a {
	text-decoration: none;
}

footer {
	background-color: #666666;
	text-align: center;
	position: fixed;
	bottom: 0;
	color: #cccccc;
	width: 100%;
	height: 50px;
	padding: 20px;
	border-top: 6px solid;
	border-color: #4aaaa5;

}

form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	padding: 10px;
	margin: 8px 0;
}

input [type=text] {
	padding: 12px 20px;
	margin: 8px 0;
}
input[type=button], input[type=submit], input[type=reset] {
	background-color: #4aaaa5;
	border: none;
	color: white;
	text-decoration: none;
	padding: 10px 32px;
	font-size: 20px;
}

input[type=text], textarea {
    border: 2px solid #cccccc;
    border-radius: 4px;
}

.image-holder {
	position: relative;
	float: left;
	padding: 5px;
	margin: 0px;
}

span {
	position: absolute;
	width: 200px;
	height: 50px;
	bottom: 25px;
	left: 10px;
	background: #4aaaa5;
	
	
}

.caption {
	padding: 13px;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
}

.icontub {
	margin: 0 auto;
	padding: 20px;
}

img {
	padding-left: 6px;
	padding-right: 6px;
}

.wrapper {
	margin-bottom: 200px;
}